.dmc-color-3713 line { stroke: #FFE2E2; }
.dmc-color-3713 rect { fill: #FFE2E2; }
.dmc-color-761 line { stroke: #FFC9C9; }
.dmc-color-761 rect { fill: #FFC9C9; }
.dmc-color-760 line { stroke: #F5ADAD; }
.dmc-color-760 rect { fill: #F5ADAD; }
.dmc-color-3712 line { stroke: #F18787; }
.dmc-color-3712 rect { fill: #F18787; }
.dmc-color-3328 line { stroke: #E36D6D; }
.dmc-color-3328 rect { fill: #E36D6D; }
.dmc-color-347 line { stroke: #BF2D2D; }
.dmc-color-347 rect { fill: #BF2D2D; }
.dmc-color-353 line { stroke: #FED7CC; }
.dmc-color-353 rect { fill: #FED7CC; }
.dmc-color-352 line { stroke: #FD9C97; }
.dmc-color-352 rect { fill: #FD9C97; }
.dmc-color-351 line { stroke: #E96A67; }
.dmc-color-351 rect { fill: #E96A67; }
.dmc-color-350 line { stroke: #E04848; }
.dmc-color-350 rect { fill: #E04848; }
.dmc-color-349 line { stroke: #D21035; }
.dmc-color-349 rect { fill: #D21035; }
.dmc-color-817 line { stroke: #BB051F; }
.dmc-color-817 rect { fill: #BB051F; }
.dmc-color-3708 line { stroke: #FFCBD5; }
.dmc-color-3708 rect { fill: #FFCBD5; }
.dmc-color-3706 line { stroke: #FFADBC; }
.dmc-color-3706 rect { fill: #FFADBC; }
.dmc-color-3705 line { stroke: #FF7992; }
.dmc-color-3705 rect { fill: #FF7992; }
.dmc-color-3801 line { stroke: #E74967; }
.dmc-color-3801 rect { fill: #E74967; }
.dmc-color-666 line { stroke: #E31D42; }
.dmc-color-666 rect { fill: #E31D42; }
.dmc-color-321 line { stroke: #C72B3B; }
.dmc-color-321 rect { fill: #C72B3B; }
.dmc-color-304 line { stroke: #B71F33; }
.dmc-color-304 rect { fill: #B71F33; }
.dmc-color-498 line { stroke: #A7132B; }
.dmc-color-498 rect { fill: #A7132B; }
.dmc-color-816 line { stroke: #970B23; }
.dmc-color-816 rect { fill: #970B23; }
.dmc-color-815 line { stroke: #87071F; }
.dmc-color-815 rect { fill: #87071F; }
.dmc-color-814 line { stroke: #7B001B; }
.dmc-color-814 rect { fill: #7B001B; }
.dmc-color-894 line { stroke: #FFB2BB; }
.dmc-color-894 rect { fill: #FFB2BB; }
.dmc-color-893 line { stroke: #FC90A2; }
.dmc-color-893 rect { fill: #FC90A2; }
.dmc-color-892 line { stroke: #FF798C; }
.dmc-color-892 rect { fill: #FF798C; }
.dmc-color-891 line { stroke: #FF5773; }
.dmc-color-891 rect { fill: #FF5773; }
.dmc-color-818 line { stroke: #FFDFD9; }
.dmc-color-818 rect { fill: #FFDFD9; }
.dmc-color-957 line { stroke: #FDB5B5; }
.dmc-color-957 rect { fill: #FDB5B5; }
.dmc-color-956 line { stroke: #FF9191; }
.dmc-color-956 rect { fill: #FF9191; }
.dmc-color-309 line { stroke: #BA4A4A; }
.dmc-color-309 rect { fill: #BA4A4A; }
.dmc-color-963 line { stroke: #FFD7D7; }
.dmc-color-963 rect { fill: #FFD7D7; }
.dmc-color-3716 line { stroke: #FFBDBD; }
.dmc-color-3716 rect { fill: #FFBDBD; }
.dmc-color-962 line { stroke: #E68A8A; }
.dmc-color-962 rect { fill: #E68A8A; }
.dmc-color-961 line { stroke: #CF7373; }
.dmc-color-961 rect { fill: #CF7373; }
.dmc-color-3833 line { stroke: #EA8699; }
.dmc-color-3833 rect { fill: #EA8699; }
.dmc-color-3832 line { stroke: #DB556E; }
.dmc-color-3832 rect { fill: #DB556E; }
.dmc-color-3831 line { stroke: #B32F48; }
.dmc-color-3831 rect { fill: #B32F48; }
.dmc-color-777 line { stroke: #913546; }
.dmc-color-777 rect { fill: #913546; }
.dmc-color-819 line { stroke: #FFEEEB; }
.dmc-color-819 rect { fill: #FFEEEB; }
.dmc-color-3326 line { stroke: #FBADB4; }
.dmc-color-3326 rect { fill: #FBADB4; }
.dmc-color-776 line { stroke: #FCB0B9; }
.dmc-color-776 rect { fill: #FCB0B9; }
.dmc-color-899 line { stroke: #F27688; }
.dmc-color-899 rect { fill: #F27688; }
.dmc-color-335 line { stroke: #EE546E; }
.dmc-color-335 rect { fill: #EE546E; }
.dmc-color-326 line { stroke: #B33B4B; }
.dmc-color-326 rect { fill: #B33B4B; }
.dmc-color-151 line { stroke: #F0CED4; }
.dmc-color-151 rect { fill: #F0CED4; }
.dmc-color-3354 line { stroke: #E4A6AC; }
.dmc-color-3354 rect { fill: #E4A6AC; }
.dmc-color-3733 line { stroke: #E8879B; }
.dmc-color-3733 rect { fill: #E8879B; }
.dmc-color-3731 line { stroke: #DA6783; }
.dmc-color-3731 rect { fill: #DA6783; }
.dmc-color-3350 line { stroke: #BC4365; }
.dmc-color-3350 rect { fill: #BC4365; }
.dmc-color-150 line { stroke: #AB0249; }
.dmc-color-150 rect { fill: #AB0249; }
.dmc-color-3689 line { stroke: #FBBFC2; }
.dmc-color-3689 rect { fill: #FBBFC2; }
.dmc-color-3688 line { stroke: #E7A9AC; }
.dmc-color-3688 rect { fill: #E7A9AC; }
.dmc-color-3687 line { stroke: #C96B70; }
.dmc-color-3687 rect { fill: #C96B70; }
.dmc-color-3803 line { stroke: #AB3357; }
.dmc-color-3803 rect { fill: #AB3357; }
.dmc-color-3685 line { stroke: #881531; }
.dmc-color-3685 rect { fill: #881531; }
.dmc-color-605 line { stroke: #FFC0CD; }
.dmc-color-605 rect { fill: #FFC0CD; }
.dmc-color-604 line { stroke: #FFB0BE; }
.dmc-color-604 rect { fill: #FFB0BE; }
.dmc-color-603 line { stroke: #FFA4BE; }
.dmc-color-603 rect { fill: #FFA4BE; }
.dmc-color-602 line { stroke: #E24874; }
.dmc-color-602 rect { fill: #E24874; }
.dmc-color-601 line { stroke: #D1286A; }
.dmc-color-601 rect { fill: #D1286A; }
.dmc-color-600 line { stroke: #CD2F63; }
.dmc-color-600 rect { fill: #CD2F63; }
.dmc-color-3806 line { stroke: #FF8CAE; }
.dmc-color-3806 rect { fill: #FF8CAE; }
.dmc-color-3805 line { stroke: #F3478B; }
.dmc-color-3805 rect { fill: #F3478B; }
.dmc-color-3804 line { stroke: #E02876; }
.dmc-color-3804 rect { fill: #E02876; }
.dmc-color-3609 line { stroke: #F4AED7; }
.dmc-color-3609 rect { fill: #F4AED7; }
.dmc-color-3608 line { stroke: #EA9CC4; }
.dmc-color-3608 rect { fill: #EA9CC4; }
.dmc-color-3607 line { stroke: #C54989; }
.dmc-color-3607 rect { fill: #C54989; }
.dmc-color-718 line { stroke: #9C2462; }
.dmc-color-718 rect { fill: #9C2462; }
.dmc-color-917 line { stroke: #9B1359; }
.dmc-color-917 rect { fill: #9B1359; }
.dmc-color-915 line { stroke: #820043; }
.dmc-color-915 rect { fill: #820043; }
.dmc-color-225 line { stroke: #FFDFD7; }
.dmc-color-225 rect { fill: #FFDFD7; }
.dmc-color-224 line { stroke: #EBB7AF; }
.dmc-color-224 rect { fill: #EBB7AF; }
.dmc-color-152 line { stroke: #E2A099; }
.dmc-color-152 rect { fill: #E2A099; }
.dmc-color-223 line { stroke: #CC847C; }
.dmc-color-223 rect { fill: #CC847C; }
.dmc-color-3722 line { stroke: #BC6C64; }
.dmc-color-3722 rect { fill: #BC6C64; }
.dmc-color-3721 line { stroke: #A14B51; }
.dmc-color-3721 rect { fill: #A14B51; }
.dmc-color-221 line { stroke: #883e43; }
.dmc-color-221 rect { fill: #883e43; }
.dmc-color-778 line { stroke: #DFB3BB; }
.dmc-color-778 rect { fill: #DFB3BB; }
.dmc-color-3727 line { stroke: #DBA9B2; }
.dmc-color-3727 rect { fill: #DBA9B2; }
.dmc-color-316 line { stroke: #B7737F; }
.dmc-color-316 rect { fill: #B7737F; }
.dmc-color-3726 line { stroke: #9B5B66; }
.dmc-color-3726 rect { fill: #9B5B66; }
.dmc-color-315 line { stroke: #814952; }
.dmc-color-315 rect { fill: #814952; }
.dmc-color-3802 line { stroke: #714149; }
.dmc-color-3802 rect { fill: #714149; }
.dmc-color-902 line { stroke: #822637; }
.dmc-color-902 rect { fill: #822637; }
.dmc-color-3743 line { stroke: #D7CBD3; }
.dmc-color-3743 rect { fill: #D7CBD3; }
.dmc-color-3042 line { stroke: #B79DA7; }
.dmc-color-3042 rect { fill: #B79DA7; }
.dmc-color-3041 line { stroke: #956F7C; }
.dmc-color-3041 rect { fill: #956F7C; }
.dmc-color-3740 line { stroke: #785762; }
.dmc-color-3740 rect { fill: #785762; }
.dmc-color-3836 line { stroke: #BA91AA; }
.dmc-color-3836 rect { fill: #BA91AA; }
.dmc-color-3835 line { stroke: #946083; }
.dmc-color-3835 rect { fill: #946083; }
.dmc-color-3834 line { stroke: #72375D; }
.dmc-color-3834 rect { fill: #72375D; }
.dmc-color-154 line { stroke: #572433; }
.dmc-color-154 rect { fill: #572433; }
.dmc-color-211 line { stroke: #E3CBE3; }
.dmc-color-211 rect { fill: #E3CBE3; }
.dmc-color-210 line { stroke: #D29FC3; }
.dmc-color-210 rect { fill: #D29FC3; }
.dmc-color-209 line { stroke: #A37BA7; }
.dmc-color-209 rect { fill: #A37BA7; }
.dmc-color-208 line { stroke: #835B8B; }
.dmc-color-208 rect { fill: #835B8B; }
.dmc-color-3837 line { stroke: #6C3A6E; }
.dmc-color-3837 rect { fill: #6C3A6E; }
.dmc-color-327 line { stroke: #633666; }
.dmc-color-327 rect { fill: #633666; }
.dmc-color-153 line { stroke: #E6CCD9; }
.dmc-color-153 rect { fill: #E6CCD9; }
.dmc-color-554 line { stroke: #DBB3CB; }
.dmc-color-554 rect { fill: #DBB3CB; }
.dmc-color-553 line { stroke: #A3638B; }
.dmc-color-553 rect { fill: #A3638B; }
.dmc-color-552 line { stroke: #803A6B; }
.dmc-color-552 rect { fill: #803A6B; }
.dmc-color-550 line { stroke: #5C184E; }
.dmc-color-550 rect { fill: #5C184E; }
.dmc-color-3747 line { stroke: #D3D7ED; }
.dmc-color-3747 rect { fill: #D3D7ED; }
.dmc-color-341 line { stroke: #B7BFDD; }
.dmc-color-341 rect { fill: #B7BFDD; }
.dmc-color-156 line { stroke: #A3AED1; }
.dmc-color-156 rect { fill: #A3AED1; }
.dmc-color-340 line { stroke: #ADA7C7; }
.dmc-color-340 rect { fill: #ADA7C7; }
.dmc-color-155 line { stroke: #9891B6; }
.dmc-color-155 rect { fill: #9891B6; }
.dmc-color-3746 line { stroke: #776B98; }
.dmc-color-3746 rect { fill: #776B98; }
.dmc-color-333 line { stroke: #5C5478; }
.dmc-color-333 rect { fill: #5C5478; }
.dmc-color-157 line { stroke: #BBC3D9; }
.dmc-color-157 rect { fill: #BBC3D9; }
.dmc-color-794 line { stroke: #8F9CC1; }
.dmc-color-794 rect { fill: #8F9CC1; }
.dmc-color-793 line { stroke: #707DA2; }
.dmc-color-793 rect { fill: #707DA2; }
.dmc-color-3807 line { stroke: #60678C; }
.dmc-color-3807 rect { fill: #60678C; }
.dmc-color-792 line { stroke: #555B7B; }
.dmc-color-792 rect { fill: #555B7B; }
.dmc-color-158 line { stroke: #4C526E; }
.dmc-color-158 rect { fill: #4C526E; }
.dmc-color-791 line { stroke: #464563; }
.dmc-color-791 rect { fill: #464563; }
.dmc-color-3840 line { stroke: #B0C0DA; }
.dmc-color-3840 rect { fill: #B0C0DA; }
.dmc-color-3839 line { stroke: #7B8EAB; }
.dmc-color-3839 rect { fill: #7B8EAB; }
.dmc-color-3838 line { stroke: #5C7294; }
.dmc-color-3838 rect { fill: #5C7294; }
.dmc-color-800 line { stroke: #C0CCDE; }
.dmc-color-800 rect { fill: #C0CCDE; }
.dmc-color-809 line { stroke: #94A8C6; }
.dmc-color-809 rect { fill: #94A8C6; }
.dmc-color-799 line { stroke: #748EB6; }
.dmc-color-799 rect { fill: #748EB6; }
.dmc-color-798 line { stroke: #466A8E; }
.dmc-color-798 rect { fill: #466A8E; }
.dmc-color-797 line { stroke: #13477D; }
.dmc-color-797 rect { fill: #13477D; }
.dmc-color-796 line { stroke: #11416D; }
.dmc-color-796 rect { fill: #11416D; }
.dmc-color-820 line { stroke: #0E365C; }
.dmc-color-820 rect { fill: #0E365C; }
.dmc-color-162 line { stroke: #DBECF5; }
.dmc-color-162 rect { fill: #DBECF5; }
.dmc-color-827 line { stroke: #BDDDED; }
.dmc-color-827 rect { fill: #BDDDED; }
.dmc-color-813 line { stroke: #A1C2D7; }
.dmc-color-813 rect { fill: #A1C2D7; }
.dmc-color-826 line { stroke: #6B9EBF; }
.dmc-color-826 rect { fill: #6B9EBF; }
.dmc-color-825 line { stroke: #4781A5; }
.dmc-color-825 rect { fill: #4781A5; }
.dmc-color-824 line { stroke: #396987; }
.dmc-color-824 rect { fill: #396987; }
.dmc-color-996 line { stroke: #30C2EC; }
.dmc-color-996 rect { fill: #30C2EC; }
.dmc-color-3843 line { stroke: #14AAD0; }
.dmc-color-3843 rect { fill: #14AAD0; }
.dmc-color-995 line { stroke: #2696B6; }
.dmc-color-995 rect { fill: #2696B6; }
.dmc-color-3846 line { stroke: #06E3E6; }
.dmc-color-3846 rect { fill: #06E3E6; }
.dmc-color-3845 line { stroke: #04C4CA; }
.dmc-color-3845 rect { fill: #04C4CA; }
.dmc-color-3844 line { stroke: #12AEBA; }
.dmc-color-3844 rect { fill: #12AEBA; }
.dmc-color-159 line { stroke: #C7CAD7; }
.dmc-color-159 rect { fill: #C7CAD7; }
.dmc-color-160 line { stroke: #999FB7; }
.dmc-color-160 rect { fill: #999FB7; }
.dmc-color-161 line { stroke: #7880A4; }
.dmc-color-161 rect { fill: #7880A4; }
.dmc-color-3756 line { stroke: #EEFCFC; }
.dmc-color-3756 rect { fill: #EEFCFC; }
.dmc-color-775 line { stroke: #D9EBF1; }
.dmc-color-775 rect { fill: #D9EBF1; }
.dmc-color-3841 line { stroke: #CDDFED; }
.dmc-color-3841 rect { fill: #CDDFED; }
.dmc-color-3325 line { stroke: #B8D2E6; }
.dmc-color-3325 rect { fill: #B8D2E6; }
.dmc-color-3755 line { stroke: #92B4CE; }
.dmc-color-3755 rect { fill: #92B4CE; }
.dmc-color-334 line { stroke: #739FC1; }
.dmc-color-334 rect { fill: #739FC1; }
.dmc-color-322 line { stroke: #5A8FB8; }
.dmc-color-322 rect { fill: #5A8FB8; }
.dmc-color-312 line { stroke: #35668B; }
.dmc-color-312 rect { fill: #35668B; }
.dmc-color-803 line { stroke: #2C597C; }
.dmc-color-803 rect { fill: #2C597C; }
.dmc-color-336 line { stroke: #253B73; }
.dmc-color-336 rect { fill: #253B73; }
.dmc-color-823 line { stroke: #213063; }
.dmc-color-823 rect { fill: #213063; }
.dmc-color-939 line { stroke: #1B2853; }
.dmc-color-939 rect { fill: #1B2853; }
.dmc-color-3753 line { stroke: #DBE2E9; }
.dmc-color-3753 rect { fill: #DBE2E9; }
.dmc-color-3752 line { stroke: #C7D1DB; }
.dmc-color-3752 rect { fill: #C7D1DB; }
.dmc-color-932 line { stroke: #A2B5C6; }
.dmc-color-932 rect { fill: #A2B5C6; }
.dmc-color-931 line { stroke: #6A859E; }
.dmc-color-931 rect { fill: #6A859E; }
.dmc-color-930 line { stroke: #455C71; }
.dmc-color-930 rect { fill: #455C71; }
.dmc-color-3750 line { stroke: #384C5E; }
.dmc-color-3750 rect { fill: #384C5E; }
.dmc-color-828 line { stroke: #C5E8ED; }
.dmc-color-828 rect { fill: #C5E8ED; }
.dmc-color-3761 line { stroke: #ACD8E2; }
.dmc-color-3761 rect { fill: #ACD8E2; }
.dmc-color-519 line { stroke: #7EB1C8; }
.dmc-color-519 rect { fill: #7EB1C8; }
.dmc-color-518 line { stroke: #4F93A7; }
.dmc-color-518 rect { fill: #4F93A7; }
.dmc-color-3760 line { stroke: #3E85A2; }
.dmc-color-3760 rect { fill: #3E85A2; }
.dmc-color-517 line { stroke: #3B768F; }
.dmc-color-517 rect { fill: #3B768F; }
.dmc-color-3842 line { stroke: #32667C; }
.dmc-color-3842 rect { fill: #32667C; }
.dmc-color-311 line { stroke: #1C5066; }
.dmc-color-311 rect { fill: #1C5066; }
.dmc-color-747 line { stroke: #E5FCFD; }
.dmc-color-747 rect { fill: #E5FCFD; }
.dmc-color-3766 line { stroke: #99CFD9; }
.dmc-color-3766 rect { fill: #99CFD9; }
.dmc-color-807 line { stroke: #64ABBA; }
.dmc-color-807 rect { fill: #64ABBA; }
.dmc-color-806 line { stroke: #3D95A5; }
.dmc-color-806 rect { fill: #3D95A5; }
.dmc-color-3765 line { stroke: #347F8C; }
.dmc-color-3765 rect { fill: #347F8C; }
.dmc-color-3811 line { stroke: #BCE3E6; }
.dmc-color-3811 rect { fill: #BCE3E6; }
.dmc-color-598 line { stroke: #90C3CC; }
.dmc-color-598 rect { fill: #90C3CC; }
.dmc-color-597 line { stroke: #5BA3B3; }
.dmc-color-597 rect { fill: #5BA3B3; }
.dmc-color-3810 line { stroke: #488E9A; }
.dmc-color-3810 rect { fill: #488E9A; }
.dmc-color-3809 line { stroke: #3F7C85; }
.dmc-color-3809 rect { fill: #3F7C85; }
.dmc-color-3808 line { stroke: #366970; }
.dmc-color-3808 rect { fill: #366970; }
.dmc-color-928 line { stroke: #DDE3E3; }
.dmc-color-928 rect { fill: #DDE3E3; }
.dmc-color-927 line { stroke: #BDCBCB; }
.dmc-color-927 rect { fill: #BDCBCB; }
.dmc-color-926 line { stroke: #98AEAE; }
.dmc-color-926 rect { fill: #98AEAE; }
.dmc-color-3768 line { stroke: #657F7F; }
.dmc-color-3768 rect { fill: #657F7F; }
.dmc-color-924 line { stroke: #566A6A; }
.dmc-color-924 rect { fill: #566A6A; }
.dmc-color-3849 line { stroke: #52B3AE; }
.dmc-color-3849 rect { fill: #52B3AE; }
.dmc-color-3848 line { stroke: #419392; }
.dmc-color-3848 rect { fill: #419392; }
.dmc-color-3847 line { stroke: #347D75; }
.dmc-color-3847 rect { fill: #347D75; }
.dmc-color-964 line { stroke: #A9E2D8; }
.dmc-color-964 rect { fill: #A9E2D8; }
.dmc-color-959 line { stroke: #59C7B4; }
.dmc-color-959 rect { fill: #59C7B4; }
.dmc-color-958 line { stroke: #3EB6A1; }
.dmc-color-958 rect { fill: #3EB6A1; }
.dmc-color-3812 line { stroke: #2F8C84; }
.dmc-color-3812 rect { fill: #2F8C84; }
.dmc-color-3851 line { stroke: #49B3A1; }
.dmc-color-3851 rect { fill: #49B3A1; }
.dmc-color-943 line { stroke: #3D9384; }
.dmc-color-943 rect { fill: #3D9384; }
.dmc-color-3850 line { stroke: #378477; }
.dmc-color-3850 rect { fill: #378477; }
.dmc-color-993 line { stroke: #90C0B4; }
.dmc-color-993 rect { fill: #90C0B4; }
.dmc-color-992 line { stroke: #6FAE9F; }
.dmc-color-992 rect { fill: #6FAE9F; }
.dmc-color-3814 line { stroke: #508B7D; }
.dmc-color-3814 rect { fill: #508B7D; }
.dmc-color-991 line { stroke: #477B6E; }
.dmc-color-991 rect { fill: #477B6E; }
.dmc-color-966 line { stroke: #B9D7C0; }
.dmc-color-966 rect { fill: #B9D7C0; }
.dmc-color-564 line { stroke: #A7CDAF; }
.dmc-color-564 rect { fill: #A7CDAF; }
.dmc-color-563 line { stroke: #8FC098; }
.dmc-color-563 rect { fill: #8FC098; }
.dmc-color-562 line { stroke: #53976A; }
.dmc-color-562 rect { fill: #53976A; }
.dmc-color-505 line { stroke: #338362; }
.dmc-color-505 rect { fill: #338362; }
.dmc-color-3817 line { stroke: #99C3AA; }
.dmc-color-3817 rect { fill: #99C3AA; }
.dmc-color-3816 line { stroke: #65A57D; }
.dmc-color-3816 rect { fill: #65A57D; }
.dmc-color-163 line { stroke: #4D8361; }
.dmc-color-163 rect { fill: #4D8361; }
.dmc-color-3815 line { stroke: #477759; }
.dmc-color-3815 rect { fill: #477759; }
.dmc-color-561 line { stroke: #2C6A45; }
.dmc-color-561 rect { fill: #2C6A45; }
.dmc-color-504 line { stroke: #C4DECC; }
.dmc-color-504 rect { fill: #C4DECC; }
.dmc-color-3813 line { stroke: #B2D4BD; }
.dmc-color-3813 rect { fill: #B2D4BD; }
.dmc-color-503 line { stroke: #7BAC94; }
.dmc-color-503 rect { fill: #7BAC94; }
.dmc-color-502 line { stroke: #5B9071; }
.dmc-color-502 rect { fill: #5B9071; }
.dmc-color-501 line { stroke: #396F52; }
.dmc-color-501 rect { fill: #396F52; }
.dmc-color-500 line { stroke: #044D33; }
.dmc-color-500 rect { fill: #044D33; }
.dmc-color-955 line { stroke: #A2D6AD; }
.dmc-color-955 rect { fill: #A2D6AD; }
.dmc-color-954 line { stroke: #88BA91; }
.dmc-color-954 rect { fill: #88BA91; }
.dmc-color-913 line { stroke: #6DAB77; }
.dmc-color-913 rect { fill: #6DAB77; }
.dmc-color-912 line { stroke: #1B9D6B; }
.dmc-color-912 rect { fill: #1B9D6B; }
.dmc-color-911 line { stroke: #189065; }
.dmc-color-911 rect { fill: #189065; }
.dmc-color-910 line { stroke: #197E56; }
.dmc-color-910 rect { fill: #197E56; }
.dmc-color-909 line { stroke: #156F49; }
.dmc-color-909 rect { fill: #156F49; }
.dmc-color-3818 line { stroke: #115A3B; }
.dmc-color-3818 rect { fill: #115A3B; }
.dmc-color-369 line { stroke: #D7EDCC; }
.dmc-color-369 rect { fill: #D7EDCC; }
.dmc-color-368 line { stroke: #A6C298; }
.dmc-color-368 rect { fill: #A6C298; }
.dmc-color-320 line { stroke: #69885A; }
.dmc-color-320 rect { fill: #69885A; }
.dmc-color-367 line { stroke: #617A52; }
.dmc-color-367 rect { fill: #617A52; }
.dmc-color-319 line { stroke: #205F2E; }
.dmc-color-319 rect { fill: #205F2E; }
.dmc-color-890 line { stroke: #184923; }
.dmc-color-890 rect { fill: #184923; }
.dmc-color-164 line { stroke: #C8D8B8; }
.dmc-color-164 rect { fill: #C8D8B8; }
.dmc-color-989 line { stroke: #8DA675; }
.dmc-color-989 rect { fill: #8DA675; }
.dmc-color-988 line { stroke: #738B5B; }
.dmc-color-988 rect { fill: #738B5B; }
.dmc-color-987 line { stroke: #587141; }
.dmc-color-987 rect { fill: #587141; }
.dmc-color-986 line { stroke: #405230; }
.dmc-color-986 rect { fill: #405230; }
.dmc-color-772 line { stroke: #E4ECD4; }
.dmc-color-772 rect { fill: #E4ECD4; }
.dmc-color-3348 line { stroke: #CCD9B1; }
.dmc-color-3348 rect { fill: #CCD9B1; }
.dmc-color-3347 line { stroke: #71935C; }
.dmc-color-3347 rect { fill: #71935C; }
.dmc-color-3346 line { stroke: #406A3A; }
.dmc-color-3346 rect { fill: #406A3A; }
.dmc-color-3345 line { stroke: #1B5915; }
.dmc-color-3345 rect { fill: #1B5915; }
.dmc-color-895 line { stroke: #1B5300; }
.dmc-color-895 rect { fill: #1B5300; }
.dmc-color-704 line { stroke: #9ECF34; }
.dmc-color-704 rect { fill: #9ECF34; }
.dmc-color-703 line { stroke: #7BB547; }
.dmc-color-703 rect { fill: #7BB547; }
.dmc-color-702 line { stroke: #47A72F; }
.dmc-color-702 rect { fill: #47A72F; }
.dmc-color-701 line { stroke: #3F8F29; }
.dmc-color-701 rect { fill: #3F8F29; }
.dmc-color-700 line { stroke: #07731B; }
.dmc-color-700 rect { fill: #07731B; }
.dmc-color-699 line { stroke: #056517; }
.dmc-color-699 rect { fill: #056517; }
.dmc-color-907 line { stroke: #C7E666; }
.dmc-color-907 rect { fill: #C7E666; }
.dmc-color-906 line { stroke: #7FB335; }
.dmc-color-906 rect { fill: #7FB335; }
.dmc-color-905 line { stroke: #628A28; }
.dmc-color-905 rect { fill: #628A28; }
.dmc-color-904 line { stroke: #557822; }
.dmc-color-904 rect { fill: #557822; }
.dmc-color-472 line { stroke: #D8E498; }
.dmc-color-472 rect { fill: #D8E498; }
.dmc-color-471 line { stroke: #AEBF79; }
.dmc-color-471 rect { fill: #AEBF79; }
.dmc-color-470 line { stroke: #94AB4F; }
.dmc-color-470 rect { fill: #94AB4F; }
.dmc-color-469 line { stroke: #72843C; }
.dmc-color-469 rect { fill: #72843C; }
.dmc-color-937 line { stroke: #627133; }
.dmc-color-937 rect { fill: #627133; }
.dmc-color-936 line { stroke: #4C5826; }
.dmc-color-936 rect { fill: #4C5826; }
.dmc-color-935 line { stroke: #424D21; }
.dmc-color-935 rect { fill: #424D21; }
.dmc-color-934 line { stroke: #313919; }
.dmc-color-934 rect { fill: #313919; }
.dmc-color-523 line { stroke: #ABB197; }
.dmc-color-523 rect { fill: #ABB197; }
.dmc-color-3053 line { stroke: #9CA482; }
.dmc-color-3053 rect { fill: #9CA482; }
.dmc-color-3052 line { stroke: #889268; }
.dmc-color-3052 rect { fill: #889268; }
.dmc-color-3051 line { stroke: #5F6648; }
.dmc-color-3051 rect { fill: #5F6648; }
.dmc-color-524 line { stroke: #C4CDAC; }
.dmc-color-524 rect { fill: #C4CDAC; }
.dmc-color-522 line { stroke: #969E7E; }
.dmc-color-522 rect { fill: #969E7E; }
.dmc-color-520 line { stroke: #666D4F; }
.dmc-color-520 rect { fill: #666D4F; }
.dmc-color-3364 line { stroke: #83975F; }
.dmc-color-3364 rect { fill: #83975F; }
.dmc-color-3363 line { stroke: #728256; }
.dmc-color-3363 rect { fill: #728256; }
.dmc-color-3362 line { stroke: #5E6B47; }
.dmc-color-3362 rect { fill: #5E6B47; }
.dmc-color-165 line { stroke: #EFF4A4; }
.dmc-color-165 rect { fill: #EFF4A4; }
.dmc-color-3819 line { stroke: #E0E868; }
.dmc-color-3819 rect { fill: #E0E868; }
.dmc-color-166 line { stroke: #C0C840; }
.dmc-color-166 rect { fill: #C0C840; }
.dmc-color-581 line { stroke: #A7AE38; }
.dmc-color-581 rect { fill: #A7AE38; }
.dmc-color-580 line { stroke: #888D33; }
.dmc-color-580 rect { fill: #888D33; }
.dmc-color-734 line { stroke: #C7C077; }
.dmc-color-734 rect { fill: #C7C077; }
.dmc-color-733 line { stroke: #BCB34C; }
.dmc-color-733 rect { fill: #BCB34C; }
.dmc-color-732 line { stroke: #948C36; }
.dmc-color-732 rect { fill: #948C36; }
.dmc-color-731 line { stroke: #938B37; }
.dmc-color-731 rect { fill: #938B37; }
.dmc-color-730 line { stroke: #827B30; }
.dmc-color-730 rect { fill: #827B30; }
.dmc-color-3013 line { stroke: #B9B982; }
.dmc-color-3013 rect { fill: #B9B982; }
.dmc-color-3012 line { stroke: #A6A75D; }
.dmc-color-3012 rect { fill: #A6A75D; }
.dmc-color-3011 line { stroke: #898A58; }
.dmc-color-3011 rect { fill: #898A58; }
.dmc-color-372 line { stroke: #CCB784; }
.dmc-color-372 rect { fill: #CCB784; }
.dmc-color-371 line { stroke: #BFA671; }
.dmc-color-371 rect { fill: #BFA671; }
.dmc-color-370 line { stroke: #B89D64; }
.dmc-color-370 rect { fill: #B89D64; }
.dmc-color-834 line { stroke: #DBBE7F; }
.dmc-color-834 rect { fill: #DBBE7F; }
.dmc-color-833 line { stroke: #C8AB6C; }
.dmc-color-833 rect { fill: #C8AB6C; }
.dmc-color-832 line { stroke: #BD9B51; }
.dmc-color-832 rect { fill: #BD9B51; }
.dmc-color-831 line { stroke: #AA8F56; }
.dmc-color-831 rect { fill: #AA8F56; }
.dmc-color-830 line { stroke: #8D784B; }
.dmc-color-830 rect { fill: #8D784B; }
.dmc-color-829 line { stroke: #7E6B42; }
.dmc-color-829 rect { fill: #7E6B42; }
.dmc-color-613 line { stroke: #DCC4AA; }
.dmc-color-613 rect { fill: #DCC4AA; }
.dmc-color-612 line { stroke: #BC9A78; }
.dmc-color-612 rect { fill: #BC9A78; }
.dmc-color-611 line { stroke: #967656; }
.dmc-color-611 rect { fill: #967656; }
.dmc-color-610 line { stroke: #796047; }
.dmc-color-610 rect { fill: #796047; }
.dmc-color-3047 line { stroke: #E7D6C1; }
.dmc-color-3047 rect { fill: #E7D6C1; }
.dmc-color-3046 line { stroke: #D8BC9A; }
.dmc-color-3046 rect { fill: #D8BC9A; }
.dmc-color-3045 line { stroke: #BC966A; }
.dmc-color-3045 rect { fill: #BC966A; }
.dmc-color-167 line { stroke: #A77C49; }
.dmc-color-167 rect { fill: #A77C49; }
.dmc-color-746 line { stroke: #FCFCEE; }
.dmc-color-746 rect { fill: #FCFCEE; }
.dmc-color-677 line { stroke: #F5ECCB; }
.dmc-color-677 rect { fill: #F5ECCB; }
.dmc-color-422 line { stroke: #C69F7B; }
.dmc-color-422 rect { fill: #C69F7B; }
.dmc-color-3828 line { stroke: #B78B61; }
.dmc-color-3828 rect { fill: #B78B61; }
.dmc-color-420 line { stroke: #A07042; }
.dmc-color-420 rect { fill: #A07042; }
.dmc-color-869 line { stroke: #835E39; }
.dmc-color-869 rect { fill: #835E39; }
.dmc-color-728 line { stroke: #E4B468; }
.dmc-color-728 rect { fill: #E4B468; }
.dmc-color-783 line { stroke: #CE9124; }
.dmc-color-783 rect { fill: #CE9124; }
.dmc-color-782 line { stroke: #AE7720; }
.dmc-color-782 rect { fill: #AE7720; }
.dmc-color-781 line { stroke: #A26D20; }
.dmc-color-781 rect { fill: #A26D20; }
.dmc-color-780 line { stroke: #94631A; }
.dmc-color-780 rect { fill: #94631A; }
.dmc-color-676 line { stroke: #E5CE97; }
.dmc-color-676 rect { fill: #E5CE97; }
.dmc-color-729 line { stroke: #D0A53E; }
.dmc-color-729 rect { fill: #D0A53E; }
.dmc-color-680 line { stroke: #BC8D0E; }
.dmc-color-680 rect { fill: #BC8D0E; }
.dmc-color-3829 line { stroke: #A98204; }
.dmc-color-3829 rect { fill: #A98204; }
.dmc-color-3822 line { stroke: #F6DC98; }
.dmc-color-3822 rect { fill: #F6DC98; }
.dmc-color-3821 line { stroke: #F3CE75; }
.dmc-color-3821 rect { fill: #F3CE75; }
.dmc-color-3820 line { stroke: #DFB65F; }
.dmc-color-3820 rect { fill: #DFB65F; }
.dmc-color-3852 line { stroke: #CD9D37; }
.dmc-color-3852 rect { fill: #CD9D37; }
.dmc-color-445 line { stroke: #FFFB8B; }
.dmc-color-445 rect { fill: #FFFB8B; }
.dmc-color-307 line { stroke: #FDED54; }
.dmc-color-307 rect { fill: #FDED54; }
.dmc-color-973 line { stroke: #FFE300; }
.dmc-color-973 rect { fill: #FFE300; }
.dmc-color-444 line { stroke: #FFD600; }
.dmc-color-444 rect { fill: #FFD600; }
.dmc-color-3078 line { stroke: #FDF9CD; }
.dmc-color-3078 rect { fill: #FDF9CD; }
.dmc-color-727 line { stroke: #FFF1AF; }
.dmc-color-727 rect { fill: #FFF1AF; }
.dmc-color-726 line { stroke: #FDD755; }
.dmc-color-726 rect { fill: #FDD755; }
.dmc-color-725 line { stroke: #FFC840; }
.dmc-color-725 rect { fill: #FFC840; }
.dmc-color-972 line { stroke: #FFB515; }
.dmc-color-972 rect { fill: #FFB515; }
.dmc-color-745 line { stroke: #FFE9AD; }
.dmc-color-745 rect { fill: #FFE9AD; }
.dmc-color-744 line { stroke: #FFE793; }
.dmc-color-744 rect { fill: #FFE793; }
.dmc-color-743 line { stroke: #FED376; }
.dmc-color-743 rect { fill: #FED376; }
.dmc-color-742 line { stroke: #FFBF57; }
.dmc-color-742 rect { fill: #FFBF57; }
.dmc-color-741 line { stroke: #FFA32B; }
.dmc-color-741 rect { fill: #FFA32B; }
.dmc-color-740 line { stroke: #FF8B00; }
.dmc-color-740 rect { fill: #FF8B00; }
.dmc-color-970 line { stroke: #F78B13; }
.dmc-color-970 rect { fill: #F78B13; }
.dmc-color-971 line { stroke: #F67F00; }
.dmc-color-971 rect { fill: #F67F00; }
.dmc-color-947 line { stroke: #FF7B4D; }
.dmc-color-947 rect { fill: #FF7B4D; }
.dmc-color-946 line { stroke: #EB6307; }
.dmc-color-946 rect { fill: #EB6307; }
.dmc-color-900 line { stroke: #D15807; }
.dmc-color-900 rect { fill: #D15807; }
.dmc-color-967 line { stroke: #FFDED5; }
.dmc-color-967 rect { fill: #FFDED5; }
.dmc-color-3824 line { stroke: #FECDC2; }
.dmc-color-3824 rect { fill: #FECDC2; }
.dmc-color-3341 line { stroke: #FCAB98; }
.dmc-color-3341 rect { fill: #FCAB98; }
.dmc-color-3340 line { stroke: #FF836F; }
.dmc-color-3340 rect { fill: #FF836F; }
.dmc-color-608 line { stroke: #FD5D35; }
.dmc-color-608 rect { fill: #FD5D35; }
.dmc-color-606 line { stroke: #FA3203; }
.dmc-color-606 rect { fill: #FA3203; }
.dmc-color-951 line { stroke: #FFE2CF; }
.dmc-color-951 rect { fill: #FFE2CF; }
.dmc-color-3856 line { stroke: #FFD3B5; }
.dmc-color-3856 rect { fill: #FFD3B5; }
.dmc-color-722 line { stroke: #F7976F; }
.dmc-color-722 rect { fill: #F7976F; }
.dmc-color-721 line { stroke: #F27842; }
.dmc-color-721 rect { fill: #F27842; }
.dmc-color-720 line { stroke: #E55C1F; }
.dmc-color-720 rect { fill: #E55C1F; }
.dmc-color-3825 line { stroke: #FDBD96; }
.dmc-color-3825 rect { fill: #FDBD96; }
.dmc-color-922 line { stroke: #E27323; }
.dmc-color-922 rect { fill: #E27323; }
.dmc-color-921 line { stroke: #C66218; }
.dmc-color-921 rect { fill: #C66218; }
.dmc-color-920 line { stroke: #AC5414; }
.dmc-color-920 rect { fill: #AC5414; }
.dmc-color-919 line { stroke: #A64510; }
.dmc-color-919 rect { fill: #A64510; }
.dmc-color-918 line { stroke: #82340A; }
.dmc-color-918 rect { fill: #82340A; }
.dmc-color-3770 line { stroke: #FFEEE3; }
.dmc-color-3770 rect { fill: #FFEEE3; }
.dmc-color-945 line { stroke: #FBD5BB; }
.dmc-color-945 rect { fill: #FBD5BB; }
.dmc-color-402 line { stroke: #F7A777; }
.dmc-color-402 rect { fill: #F7A777; }
.dmc-color-3776 line { stroke: #CF7939; }
.dmc-color-3776 rect { fill: #CF7939; }
.dmc-color-301 line { stroke: #B35F2B; }
.dmc-color-301 rect { fill: #B35F2B; }
.dmc-color-400 line { stroke: #8F430F; }
.dmc-color-400 rect { fill: #8F430F; }
.dmc-color-300 line { stroke: #6F2F00; }
.dmc-color-300 rect { fill: #6F2F00; }
.dmc-color-3823 line { stroke: #FFFDE3; }
.dmc-color-3823 rect { fill: #FFFDE3; }
.dmc-color-3855 line { stroke: #FAD396; }
.dmc-color-3855 rect { fill: #FAD396; }
.dmc-color-3854 line { stroke: #F2AF68; }
.dmc-color-3854 rect { fill: #F2AF68; }
.dmc-color-3853 line { stroke: #F29746; }
.dmc-color-3853 rect { fill: #F29746; }
.dmc-color-3827 line { stroke: #F7BB77; }
.dmc-color-3827 rect { fill: #F7BB77; }
.dmc-color-977 line { stroke: #DC9C56; }
.dmc-color-977 rect { fill: #DC9C56; }
.dmc-color-976 line { stroke: #C28142; }
.dmc-color-976 rect { fill: #C28142; }
.dmc-color-3826 line { stroke: #AD7239; }
.dmc-color-3826 rect { fill: #AD7239; }
.dmc-color-975 line { stroke: #914F12; }
.dmc-color-975 rect { fill: #914F12; }
.dmc-color-948 line { stroke: #FEE7DA; }
.dmc-color-948 rect { fill: #FEE7DA; }
.dmc-color-754 line { stroke: #F7CBBF; }
.dmc-color-754 rect { fill: #F7CBBF; }
.dmc-color-3771 line { stroke: #F4BBA9; }
.dmc-color-3771 rect { fill: #F4BBA9; }
.dmc-color-758 line { stroke: #EEAA9B; }
.dmc-color-758 rect { fill: #EEAA9B; }
.dmc-color-3778 line { stroke: #D98978; }
.dmc-color-3778 rect { fill: #D98978; }
.dmc-color-356 line { stroke: #C56A5B; }
.dmc-color-356 rect { fill: #C56A5B; }
.dmc-color-3830 line { stroke: #BC5544; }
.dmc-color-3830 rect { fill: #BC5544; }
.dmc-color-355 line { stroke: #984436; }
.dmc-color-355 rect { fill: #984436; }
.dmc-color-3777 line { stroke: #863022; }
.dmc-color-3777 rect { fill: #863022; }
.dmc-color-3779 line { stroke: #F8CAC8; }
.dmc-color-3779 rect { fill: #F8CAC8; }
.dmc-color-3859 line { stroke: #BA8B7C; }
.dmc-color-3859 rect { fill: #BA8B7C; }
.dmc-color-3858 line { stroke: #964A3F; }
.dmc-color-3858 rect { fill: #964A3F; }
.dmc-color-3857 line { stroke: #68251A; }
.dmc-color-3857 rect { fill: #68251A; }
.dmc-color-3774 line { stroke: #F3E1D7; }
.dmc-color-3774 rect { fill: #F3E1D7; }
.dmc-color-950 line { stroke: #EED3C4; }
.dmc-color-950 rect { fill: #EED3C4; }
.dmc-color-3064 line { stroke: #C48E70; }
.dmc-color-3064 rect { fill: #C48E70; }
.dmc-color-407 line { stroke: #BB8161; }
.dmc-color-407 rect { fill: #BB8161; }
.dmc-color-3773 line { stroke: #B67552; }
.dmc-color-3773 rect { fill: #B67552; }
.dmc-color-3772 line { stroke: #A06C50; }
.dmc-color-3772 rect { fill: #A06C50; }
.dmc-color-632 line { stroke: #875539; }
.dmc-color-632 rect { fill: #875539; }
.dmc-color-453 line { stroke: #D7CECB; }
.dmc-color-453 rect { fill: #D7CECB; }
.dmc-color-452 line { stroke: #C0B3AE; }
.dmc-color-452 rect { fill: #C0B3AE; }
.dmc-color-451 line { stroke: #917B73; }
.dmc-color-451 rect { fill: #917B73; }
.dmc-color-3861 line { stroke: #A68881; }
.dmc-color-3861 rect { fill: #A68881; }
.dmc-color-3860 line { stroke: #7D5D57; }
.dmc-color-3860 rect { fill: #7D5D57; }
.dmc-color-779 line { stroke: #624B45; }
.dmc-color-779 rect { fill: #624B45; }
.dmc-color-712 line { stroke: #FFFBEF; }
.dmc-color-712 rect { fill: #FFFBEF; }
.dmc-color-739 line { stroke: #F8E4C8; }
.dmc-color-739 rect { fill: #F8E4C8; }
.dmc-color-738 line { stroke: #ECCC9E; }
.dmc-color-738 rect { fill: #ECCC9E; }
.dmc-color-437 line { stroke: #E4BB8E; }
.dmc-color-437 rect { fill: #E4BB8E; }
.dmc-color-436 line { stroke: #CB9051; }
.dmc-color-436 rect { fill: #CB9051; }
.dmc-color-435 line { stroke: #B87748; }
.dmc-color-435 rect { fill: #B87748; }
.dmc-color-434 line { stroke: #985E33; }
.dmc-color-434 rect { fill: #985E33; }
.dmc-color-433 line { stroke: #7A451F; }
.dmc-color-433 rect { fill: #7A451F; }
.dmc-color-801 line { stroke: #653919; }
.dmc-color-801 rect { fill: #653919; }
.dmc-color-898 line { stroke: #492A13; }
.dmc-color-898 rect { fill: #492A13; }
.dmc-color-938 line { stroke: #361F0E; }
.dmc-color-938 rect { fill: #361F0E; }
.dmc-color-3371 line { stroke: #1E1108; }
.dmc-color-3371 rect { fill: #1E1108; }
.dmc-color-543 line { stroke: #F2E3CE; }
.dmc-color-543 rect { fill: #F2E3CE; }
.dmc-color-3864 line { stroke: #CBB69C; }
.dmc-color-3864 rect { fill: #CBB69C; }
.dmc-color-3863 line { stroke: #A4835C; }
.dmc-color-3863 rect { fill: #A4835C; }
.dmc-color-3862 line { stroke: #8A6E4E; }
.dmc-color-3862 rect { fill: #8A6E4E; }
.dmc-color-3031 line { stroke: #4B3C2A; }
.dmc-color-3031 rect { fill: #4B3C2A; }
.dmc-color-B5200 line { stroke: #FFFFFF; }
.dmc-color-B5200 rect { fill: #FFFFFF; }
.dmc-color-White line { stroke: #FCFBF8; }
.dmc-color-White rect { fill: #FCFBF8; }
.dmc-color-3865 line { stroke: #F9F7F1; }
.dmc-color-3865 rect { fill: #F9F7F1; }
.dmc-color-Ecru line { stroke: #F0EADA; }
.dmc-color-Ecru rect { fill: #F0EADA; }
.dmc-color-822 line { stroke: #E7E2D3; }
.dmc-color-822 rect { fill: #E7E2D3; }
.dmc-color-644 line { stroke: #DDD8CB; }
.dmc-color-644 rect { fill: #DDD8CB; }
.dmc-color-642 line { stroke: #A49878; }
.dmc-color-642 rect { fill: #A49878; }
.dmc-color-640 line { stroke: #857B61; }
.dmc-color-640 rect { fill: #857B61; }
.dmc-color-3787 line { stroke: #625D50; }
.dmc-color-3787 rect { fill: #625D50; }
.dmc-color-3021 line { stroke: #4F4B41; }
.dmc-color-3021 rect { fill: #4F4B41; }
.dmc-color-3024 line { stroke: #EBEAE7; }
.dmc-color-3024 rect { fill: #EBEAE7; }
.dmc-color-3023 line { stroke: #B1AA97; }
.dmc-color-3023 rect { fill: #B1AA97; }
.dmc-color-3022 line { stroke: #8E9078; }
.dmc-color-3022 rect { fill: #8E9078; }
.dmc-color-535 line { stroke: #636458; }
.dmc-color-535 rect { fill: #636458; }
.dmc-color-3033 line { stroke: #E3D8CC; }
.dmc-color-3033 rect { fill: #E3D8CC; }
.dmc-color-3782 line { stroke: #D2BCA6; }
.dmc-color-3782 rect { fill: #D2BCA6; }
.dmc-color-3032 line { stroke: #B39F8B; }
.dmc-color-3032 rect { fill: #B39F8B; }
.dmc-color-3790 line { stroke: #7F6A55; }
.dmc-color-3790 rect { fill: #7F6A55; }
.dmc-color-3781 line { stroke: #6B5743; }
.dmc-color-3781 rect { fill: #6B5743; }
.dmc-color-3866 line { stroke: #FAF6F0; }
.dmc-color-3866 rect { fill: #FAF6F0; }
.dmc-color-842 line { stroke: #D1BAA1; }
.dmc-color-842 rect { fill: #D1BAA1; }
.dmc-color-841 line { stroke: #B69B7E; }
.dmc-color-841 rect { fill: #B69B7E; }
.dmc-color-840 line { stroke: #9A7C5C; }
.dmc-color-840 rect { fill: #9A7C5C; }
.dmc-color-839 line { stroke: #675541; }
.dmc-color-839 rect { fill: #675541; }
.dmc-color-838 line { stroke: #594937; }
.dmc-color-838 rect { fill: #594937; }
.dmc-color-3072 line { stroke: #E6E8E8; }
.dmc-color-3072 rect { fill: #E6E8E8; }
.dmc-color-648 line { stroke: #BCB4AC; }
.dmc-color-648 rect { fill: #BCB4AC; }
.dmc-color-647 line { stroke: #B0A69C; }
.dmc-color-647 rect { fill: #B0A69C; }
.dmc-color-646 line { stroke: #877D73; }
.dmc-color-646 rect { fill: #877D73; }
.dmc-color-645 line { stroke: #6E655C; }
.dmc-color-645 rect { fill: #6E655C; }
.dmc-color-844 line { stroke: #484848; }
.dmc-color-844 rect { fill: #484848; }
.dmc-color-762 line { stroke: #ECECEC; }
.dmc-color-762 rect { fill: #ECECEC; }
.dmc-color-415 line { stroke: #D3D3D6; }
.dmc-color-415 rect { fill: #D3D3D6; }
.dmc-color-318 line { stroke: #ABABAB; }
.dmc-color-318 rect { fill: #ABABAB; }
.dmc-color-414 line { stroke: #8C8C8C; }
.dmc-color-414 rect { fill: #8C8C8C; }
.dmc-color-168 line { stroke: #D1D1D1; }
.dmc-color-168 rect { fill: #D1D1D1; }
.dmc-color-169 line { stroke: #848484; }
.dmc-color-169 rect { fill: #848484; }
.dmc-color-317 line { stroke: #6C6C6C; }
.dmc-color-317 rect { fill: #6C6C6C; }
.dmc-color-413 line { stroke: #565656; }
.dmc-color-413 rect { fill: #565656; }
.dmc-color-3799 line { stroke: #424242; }
.dmc-color-3799 rect { fill: #424242; }
.dmc-color-310 line { stroke: #000000; }
.dmc-color-310 rect { fill: #000000; }